{{ $current := . }}
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-sm" id="navbar-main-menu">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="navbar-nav ml-auto">
            {{- if .Site.Params.showLanguageSwitcher -}}
                {{ partial "i18nlist.html" . }}
            {{- end -}}
            {{ with .Site.Menus.main }}
                {{ range . }}
                {{ if .HasChildren }}
                    <li class="nav-item dropdown {{ if $current.IsMenuCurrent "main" . }} active{{ end }}">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title='{{ .Title }}' href="#">{{ .Name }}</a>
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{ range .Children }}
                   <a class="dropdown-item" title="{{ .Title }}" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                    </div>
                </li>
                {{ else }}
                <li class="nav-item{{ if $current.IsMenuCurrent "main" . }} active{{ end }}"><a class="nav-link" title='{{ .Title }}' href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                {{ end }}
                {{ end }}
            {{ end }}
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET" role="search" action="https://duckduckgo.com/?q=">
                <input class="form-control mr-sm-2" name="q"type="search" placeholder="Provided by DuckDuckGO" aria-label="Search">
                <input name="sites" type="hidden" value="www.syahrulfadli.com"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
        </div>
    </div>
</nav>

